<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-dark   text-light text-center py-4 mt-5">
        <div class="icon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-linkedin"></i>
        </div>
  <div class="container">
    <h5 class="mb-2">&copy; Parada_de_luxo</h5>
    <div>
      <a href="#" class="text-light text-decoration-none mx-2">Privacy</a> |
      <a href="#" class="text-light text-decoration-none mx-2">Terms</a>
    </div>
  </div>
</footer>

</body>
</html>